.grass {
  width: 60vw;
  height: 80vh;
  position: relative;
  --angle: 0deg;
 /* flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;*/
  transform: translate(-50%, 0%) rotate(var(--angle)) ;
  transition: all 3s;
  bottom: 0%;
}

.grass__blade {
  --borderwidth: 1vw;
  --leafWidth:30vw;
  --periodWind:6s;
  position: absolute;
 /* transition: all calc(var(--periodWind)/4) ease-out;*/
}

.grass__blade--1 {
  border-right: calc(var(--borderwidth)*4) solid rgba(70, 126, 10, 0.694);
  border-top-right-radius: 40%;
  height: 70%;
  width: calc(var(--leafWidth)*2);
 bottom: 0%;
 /* left: cal(2*var(--borderwidth));*/
  transform: translate(calc(-2 * (var(--borderwidth))),0);
  animation: move-blade-1 var(--periodWind) infinite;
  animation-delay: calc(4*var(--periodWind)/8);
}

@keyframes move-blade-1 {
  75% {
    border-top-right-radius: 30%;
  }
/*  60% ,80% {
    border-top-right-radius: 35%;
  }*/
  0%,100%{
    border-top-right-radius: 40%;
  }
 /* 20%,40% {
    border-top-right-radius: 45%;
  }*/
  25% {
    border-top-right-radius: 50%;
  }
}

.grass__blade--2 {
  border-right:calc(2* var(--borderwidth)) solid rgb(16, 141, 41);
  border-top-right-radius: 24%;
  height: 90%;
  width:  calc(var(--leafWidth)*2);
 bottom: 0%;
 /* left: -1000vmin;*/
  /*transform: translate(25%,0);*/
  transform: translate(calc(-0*var(--leafWidth) - 2*(var(--borderwidth))),0);
   animation: move-blade-2 var(--periodWind) infinite;
  animation-delay: calc(3*var(--periodWind)/8);
}
@keyframes move-blade-2 {
  75% {
    border-top-right-radius: 18%;
  }
/*  60% ,80% {
    border-top-right-radius: 21%;
  }*/
  0%,100%{
    border-top-right-radius: 24%;
  }
 /* 20%,40% {
    border-top-right-radius: 27%;
  }*/
  25% {
    border-top-right-radius: 30%;
  }
}

.grass__blade--3 {
  border-top-left-radius: 32%;
  border-left:calc(3*var(--borderwidth))  solid  rgb(38, 165, 9);
  height: 80%;
  width:  calc(var(--leafWidth)*2);
 bottom: 0%;
  right:-100%;
 transform: translate(calc(-0*var(--leafWidth) + 3*var(--borderwidth)),0);
  animation: move-blade-3 var(--periodWind) infinite;
  animation-delay: calc(2*var(--periodWind)/8);
}

@keyframes move-blade-3 {
  25% {
    border-top-left-radius: 24%;
  }
 /* 20% ,40% {
    border-top-right-radius: 28%;
  }*/
  0%,100% {
    border-top-left-radius: 32%;
  }
 /* 60%,80% {
    border-top-right-radius: 36%;
  }*/
  75% {
    border-top-left-radius: 40%;
  }
}

.grass__blade--4 {
  border-top-left-radius: 16%;
  border-left: var(--borderwidth)  solid  green;
  height: 100%;
  width:  calc(var(--leafWidth)*2);
  /*bottom: -60%;*/
  right:-100%;
 transform: translate(calc(1*var(--borderwidth)/2,0));
  animation: move-blade-4 var(--periodWind) infinite;
}

@keyframes move-blade-4 {
  25% {
    border-top-left-radius: 12%;
  }
  /*20% ,40% {
    border-top-right-radius: 14%;
  }*/
  0%,100% {
    border-top-left-radius: 16%;
  }
 /* 60%,80% {
    border-top-right-radius: 18%;
  }*/
  75% {
    border-top-left-radius: 20%;
  }
}
