.humidityStack{
    --sizeDrop:20vmin;
    
    display: flex;
   /* position: relative;*/
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
   /* width: 100%;*/
   /* height: 40vh;*/
    padding-right: 4vw;
   /* height: max-content ;*/
  
  
  }
  .humText{
    position: relative;
    top: 0%;
    /*bottom: 100%;*/
  }
  .humidityGroup{
  
    --waterFilling: 50%;
    display: flex;
    position: relative;
    flex-direction:column;
    align-items: center;
    height:var(--highSymbols);
    /*align-items:;*/
    justify-content: center;
    align-content: center;
   /* width: 100%;*/
    /*z-index: 5;*/
    background-color: transparent;
    transform: scale(1,1.5);
    padding-right: 1vmin;
    
  
  }
  .waterDrop{
    display: flex;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    aspect-ratio: 1;
    width: var(--sizeDrop);
    /*left: calc(-1*var(--sizeDrop)/2);*/
    transform: rotate(-135deg);
    height: max-content;
    
   /* z-index: 6;*/
    /*background-color: blue;*/
    background: linear-gradient(135deg,darkblue   ,  rgb(118, 118, 213) calc(var(--waterFilling)), transparent 100%);
  }
  
  .humLabel{
    position: relative;
    padding-right: 4vw;
    /*bottom: 100%;*/
  }
  