
.sleepBox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  z-index: 2;
  position: relative;
 /*  border: 1px solid rgba(0,0,0,0.25);*/
}

#sunmoon {
  left: 0%;
  border-radius: 0.5vw;
   height: 1vw;
  width: 2.4vw;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all .3s ease-in-out;
  box-shadow: 0vw 0vw 0.3vw rgba(0, 0, 0, .15);
  position: relative;
    justify-content: flex-start;
    z-index: 2;
}

#target {
  position: relative;
  left: 0vw;
  transition: all .3s ease-in-out;
}

.toggle {
  left: calc(100% - 1vw) !important;
/*  border: 1px solid rgba(0,0,0,0.25);*/
}

.sun {
  cursor: pointer;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #FFDB73;
  position: relative;
}

.sun::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background-color: #FFDB73;
  opacity: .5;
}

.sun::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #FFDB73;
  opacity: .3;
}

.moon {
  cursor: pointer;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #0A515B;
  position: relative;
  z-index: 2;
}

.moon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background-color: #0A515B;
  opacity: .5;
}

.moon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #0A515B;
  opacity: .3;
}

.moon > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.moon > div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #FFE4BF;
  z-index: 2;
}

.moon > div::after {
  content: '';
  position: absolute;
  top: 0.2vw;
  right: 0.2vw;

  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  background-color: #0A515B;
  z-index: 3;
}

