
@import "plant.css";
@import "sun.css";
@import "hum.css";
@import "temp.css";





body {
  --main-color:#9bafc3; 
  background:var(--main-color);
  height: 100vh;
  /*overflow: hidden;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: absolute;
  --main-color-primary: #2ca1cf;


}


h1 {
  color: rgb(2, 2, 48);
  font-size: 3em;
  position: relative;
  text-shadow: 0 0 1px rgb(24, 195, 47);
  text-align: center;
  padding: 0 0 1vw 0;
 /* bottom: -3vh;*/ 
  z-index: 5;
}




.sunBox{
  z-index: 0;
}

.plantGroup{
  --highSymbols: 50vh;
  --waterFilling: 50%;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  align-content:space-between;
  justify-content: space-between;
}


.thermometerBox{

  display: flex;
  flex-direction: row;
  align-items: start;
  transform: translate(8vw,0);
 /* align-content: center;*/
 /* width: min-content;*/
  /*align-content: flex-end;*/
 /* width: 100%;*/
}
.plantBox{
  
    display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  z-index: 4;
  width: 100%;
}
.humBox{
  
  display: flex;
  flex-direction: row-reverse;
  align-items: end; 
  transform: translate(-6vw,0);
  /*align-content: flex-end;*/
 /* width: 100%;*/
}



