.vaseBox{
  --vaseWidth:30vw;
  --vaseHeight:30vh;
    position: absolute;
    width: 100%;
    height: var(--vaseHeight);
    display: flex;
  /*  flex-direction: row;
    align-items: center;*/
   /* justify-content: center;*/
    justify-content: center;
    bottom: 0;
   
}


.vase {
   position:absolute;
    border-top: var(--vaseHeight) solid rgb(245, 90, 18);
    border-left: calc(var(--vaseWidth)/3) solid transparent;
    border-right: calc(var(--vaseWidth)/3) solid transparent;
    height: 0;
    width: calc(2*var(--vaseWidth)/3);
    bottom: 0;
    display: flex;
    justify-content: center;
    
}

.vaseWater {
 position:absolute;
 
  border-top: calc(4*var(--vaseHeight)/5)  solid rgba(50, 18, 124,calc(var(--waterFilling)));
  /* border-top: calc(4*var(--vaseHeight)/5)  solid;

   border-image:linear-gradient(135deg,darkblue   ,  rgb(118, 118, 213) calc(var(--waterFilling)), transparent 100%) ;
   /*border-top-color: linear-gradient(135deg,darkblue   ,  rgb(118, 118, 213) calc(var(--waterFilling)), transparent 100%);*/
   border-left: calc(4*var(--vaseWidth)/15) solid transparent;
   border-right: calc(4*var(--vaseWidth)/15) solid transparent;
   height: 0;
  /* top:0;*/
   width: calc(8*var(--vaseWidth)/15);
  bottom: calc(1*var(--vaseHeight)/10);
   
}